body {
    background-color: black;
    margin: 0;
    font-family: sans-serif;
    
}


@font-face {
    font-family: CursorGothic-Regular;
    src: url("fonts/CursorGothic_Regular-s.p.a361088d.woff2") format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: CursorGothic-Bold;
    src: url("fonts/CursorGothic_Bold-s.p.95169710.woff2") format("woff2");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 40px;
}

nav img {
    width: 95px;
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
}

button {
    padding: 6px 14px;
    border-radius: 20px;
    border: 1px solid #444;
    background: transparent;
    color: white;
    cursor: pointer;
}

.download {
    background: white;
    color: black;
    border: none;
}

.hero .container .text-left h1 {
    font-size: 1.625rem;
    line-height: 1.25;
    font-weight: 400;
    letter-spacing: -0.0125em;
    margin-bottom: 18.2px;
    text-wrap-mode: initial;
    text-wrap-style: balance;
    color: whitesmoke;
}
